<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <h1>Our Products</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' product.pk %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
                    <h2>{{ product.name }}</h2>
                    <p>Price: ${{ product.price }}</p>
                </a>
                <!-- Add to Cart link -->
                <a href="{% url 'cart:add_to_cart' product.id %}">Add to Cart</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
